<div class="containerflex"
     fxLayout="column"
     fxLayoutGap="10px">
  <div fxFlex fsFLexOffset="20px" class="form-size">
    <h3>Send us your feedback</h3>
    <p>{{feedBackForm.value | json}} <!--{{feedBackForm.status | json}}--></p>
    <form novalidate [formGroup]="feedBackForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="half-width">
        <input matInput formControlName="firstname" placeholder="First Name" type="text" required>
        <mat-error *ngIf="formErrors.firstname">{{formErrors.firstname}}</mat-error>
      </mat-form-field>
      <mat-form-field class="half-width">
        <input matInput formControlName="lastname" placeholder="Last Name" type="text" required>
        <mat-error *ngIf="formErrors.lastname">{{formErrors.lastname}}</mat-error>
      </mat-form-field>
        <mat-form-field class="half-width">
          <input matInput formControlName="telnum" placeholder="Tel. Number" type="tel" pattern="[0-9]*" required>
          <mat-error *ngIf="formErrors.telnum">{{formErrors.telnum}}</mat-error>
        </mat-form-field>
        <mat-form-field class="half-width">
          <input matInput formControlName="email" placeholder="Email" type="email" email required>
          <mat-error *ngIf="formErrors.email">{{formErrors.email}}</mat-error>
        </mat-form-field>
        <table class="form-size">
          <tr>
            <td>
              <mat-slide-toggle formControlName="agree">May we contact you?</mat-slide-toggle>
            </td>
            <td>
              <mat-select placeholder="how?" formControlName="contactType">
                <mat-option *ngFor="let ctype of contactType" [value]="ctype">{{ctype}}</mat-option>
              </mat-select>
            </td>
          </tr>
        </table>
        <mat-form-field class="full-width">
          <textarea matInput formControlName="message" placeholder="message" rows="12" required></textarea>
        </mat-form-field>
        <button mat-button type="submit" [disabled]="feedBackForm.invalid" class="background-primary text-floral-white">Submit</button>
    </form>
  </div>
</div>
